.newsList {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.newsItem {
    transition: transform .2s;
    position: relative;
    background: tomato;
    padding: 5px;
    width: 400px;
    border-radius: 5px;
    height: 450px;
    margin: 20px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    min-width: 300px;
    cursor: pointer;
}

.newsItem:hover {
    transform: scale(1.1);
}

.newsHeading {
    z-index: 2;
    font-size: 30px;
}

.newsNoImg {
    height: 96%;
}

.newsHeading:after {
    content: "";
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    /* helps with underneath links */
    pointer-events: none;
}

.newsInfo {
    display: flex;
    justify-content: space-between;
}

.newsDate {
    text-align: left;
}

@keyframes fadeInOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

.loading {
    display: flex;
    justify-content: center;
}

.modalClose {
    font-size: 30px;
    font-weight: 700;
    padding: 10px;
}

.newsImage {
    animation-name: fadeInOut;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-direction: alternate;
    width: 100%;
    height: 88%;
    z-index: 1;
}