/* BEM style */
.pagination {
    /*margin: 50px;*/
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.pagination .page {
    padding: 25px;
    cursor: pointer;
    background-color: white;
    outline: none;
    background-color: powderblue;
    border: 1px solid grey;
    font-size: 30px;
}

.pagination .page--selected {
    background-color: teal;
    color: white;
}