.pagination {
    margin: 50px;
    display: flex;
    justify-content: center;
}
.page {
    padding: 25px;
    outline: none;
    font-size: 30px;
}

.pageSelected {
    background-color: teal;
    color: white;
}