/* BEM style */
.pagination {
    margin: 50px;
    display: flex;
    justify-content: center;
}
.pagination .page {
    padding: 25px;
    outline: none;
    font-size: 30px;
}

.pagination .page--selected {
    background-color: teal;
    color: white;
}